* {
    font-family: "JetBrains Mono", monospace;
    font-size: 17px;
    min-height: 28px;
    color: #cdcdcd;
}

window#waybar {
    background-color: #303030;
}

#workspaces {
    margin-right: 14px;
}

#workspaces button {
    border-radius: 0px;
    padding: 0px 4px;
    background-color: #323232;
}

#workspaces button.active, #workspaces button.focused {
    background: #4f4f4f;
}

#workspaces button:hover {
    background-color: #4f4f4f;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#idle_inhibitor,
#custom-session,
#custom-gamma,
#tray,
#mpd,
#custom-weather,
#cpu, 
#temperature, 
#memory,
#sway-mode,
#backlight, 
#pulseaudio, 
#custom-vpn,
#disk,
#custom-recorder,
#custom-audiorec,
#battery, 
#clock, 
#network {
    padding: 0 14px;
	margin: 4px 0px;
	border-right: 1px solid #5e5e5e;
}

#custom-session {
	border-right: none;
}
