window {
	margin: 0px;
	border: 1px solid #4e4e4e;
	background-color: #323232;
}

#input {
	margin: 5px;
	border: 1px solid #4e4e4e;
	color: #D3C6AA;
	background-color: #323232;
}

#inner-box {
	margin: 5px;
	border: none;
}

#outer-box {
	margin: 5px;
	border: none;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 6px;
	font-size: 18px;
	border: none;
	color: #e3e3e3;
}

#entry:selected {
	background-color: #424242;
}
